* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: rgb(44, 43, 43);
}

.one {
    width: 400px;
    background: #fff;
    border-radius: 10px;
}

.one .title {
    line-height: 80px;
    background: #919392;
    color: rgb(65, 58, 49);
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.one form {
    padding: 30px 20px 25px 20px;
}

.one form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.one form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid rgb(192, 190, 190);
    font-size: 16px;

}

.one form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    font-size: 18px;
    background: #919392;
    border: 1px solid #919392;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.one form .pass {
    margin: 4px;
    position: relative;
}

.one form .pass a {
    color: #2f302f;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    top: -5px;
    transition-timing-function: ease;

}

.one form .pass a:hover {
    text-decoration: underline;
    color: #0804e8;
    transition-delay: 0.3s;



}

.one form .button input {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: #1e2c29;
    border: 1px solid #161d1b;
    cursor: pointer;
    transition: 1s;

}

form .button input:hover {
    background: #37486c;
    border-radius: 50%;

}

.one form .signup-link {
    text-align: center;
    padding-top: 50%;
    position: relative;
    align-items: center;
}

.one form .signup-link a {
    color: #45524f;
    font-size: 17px;
    text-decoration: none;
    text-align: center;

}

form .signup-link a:hover {
    text-decoration: underline;
}